.photo3{
    position: absolute;
    width: 516px;
    height: 1079.29px;
    top: -110px;
    left: 697px;
    border-radius: 85px 0px 0px 0px;      
    z-index: 2;
    }
.shadow2{
    position: absolute;
    width: 1103px;
height: 1071.08px;
top: -69px;
left: -373px;
background: radial-gradient(35.19% 35.19% at 50% 50%, rgba(59, 149, 255, 0.17) 0%, rgba(28, 106, 197, 0) 100%) ;
}
.step2_1::before{
    content: '';
    position: absolute;
    left:0;
    width: 16px; 
    height: 16px; 
    border-radius: 50%; 
    background-color:  rgba(246, 228, 63, 1);
}
.step2_1{
    font-size: 24px;
    line-height: 22.08px;
    color: rgba(252, 241, 187, 1);
}
.step2_3::before{
    content: '';
    position: absolute;
    left:5%;
    top:30%;
    transform: translate(-50%);
    width: 8px; 
    height: 8px; 
    border-radius: 50%; 
    background-color:  rgba(238, 238, 238, 1);
}
.step2_3{
    font-size: 28px;
    line-height: 25.76px;
    color: rgba(238, 238, 238, 1);
}
.arrow3{
    position: absolute;
    width: 252px;
    height: 249.82px;
    top: 589.53px;
    left: 545.68px;
    transform: rotate(-327.49deg) scaleY(-1) scaleX(1.5);
    z-index: 4;
}